Repository osmangoninahid/gitgossip: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, mypy, uv-sync-locked

black:
  name: Black Formatter
  entry: uv run black
  language: system

isort:
  name: Isort Imports
  entry: uv run isort
  language: system

pylint:
  name: Pylint
  entry: uv run pylint
  language: system

mypy:
  name: Mypy Type Checker
  entry: uv run mypy
  language: system

uv-sync-locked:
  name: UV sync locked dependencies
  description: Ensures pyproject.toml and uv.lock remain synchronized.
  entry: uv sync --locked --group local
  language: python
  pass_filenames: false
  additional_dependencies:
  - uv

docs(contribution): updated readme and added contributing guide
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
Due: none

Docs (#6)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
Due: none

feat(llm): add chat client seam with OpenAI transport
  gitgossip/core/interfaces/chat_client.py
  gitgossip/core/llm/clients/__init__.py
  gitgossip/core/llm/clients/openai_chat_client.py
  gitgossip/core/llm/errors.py
  tests/core/llm/clients/test_openai_chat_client.py
Due: black, isort, pylint, mypy

feat(llm): add agent CLI chat client for claude and codex
  gitgossip/core/llm/clients/agent_cli_chat_client.py
  tests/core/llm/clients/test_agent_cli_chat_client.py
Due: black, isort, pylint, mypy

refactor(llm): route LLMAnalyzer through injected chat client
  gitgossip/core/factories/llm_analyzer_factory.py
  gitgossip/core/llm/llm_analyzer.py
  tests/core/llm/test_llm_analyzer_transport.py
Due: black, isort, pylint, mypy

feat(llm): select chat client by provider config and wire custom prompts path
  gitgossip/config/config_service.py
  gitgossip/core/factories/llm_analyzer_factory.py
  gitgossip/core/llm/prompt_builder.py
  tests/core/factories/test_llm_analyzer_factory.py
  tests/core/test_prompt_builder.py
Due: black, isort, pylint, mypy

feat(cli): add agent provider to init wizard with CLI auto-detection
  gitgossip/commands/init.py
  tests/commands/test_init.py
Due: black, isort, pylint, mypy

feat(git): add staged diff and staged file listing to repo provider
  gitgossip/core/interfaces/repo_provider.py
  gitgossip/core/providers/git_repo_provider.py
  tests/core/test_git_repo_provider.py
Due: black, isort, pylint, mypy

feat(llm): add conventional commit message generation
  gitgossip/core/interfaces/llm_analyzer.py
  gitgossip/core/llm/llm_analyzer.py
  gitgossip/core/llm/mock_llm_analyzer.py
  gitgossip/core/llm/prompt_builder.py
  gitgossip/core/llm/prompts/commit.txt
  tests/core/llm/test_llm_analyzer_transport.py
  tests/core/test_llm_analyzer.py
Due: black, isort, pylint, mypy

feat(cli): add commit command with interactive accept/edit/regenerate flow
  gitgossip/cli.py
  gitgossip/commands/commit.py
  tests/commands/test_commit.py
Due: black, isort, pylint, mypy

test(cli): cover fail-open prepare-commit-msg hook mode
  tests/commands/test_commit.py
Due: black, isort, pylint, mypy

feat(cli): add prompts init command to scaffold custom templates
  gitgossip/cli.py
  gitgossip/commands/prompts.py
  tests/commands/test_prompts.py
Due: black, isort, pylint, mypy

chore(release): bump version to 0.2.0 and document agent provider, commit command, custom prompts
  README.md
  gitgossip/core/factories/llm_analyzer_factory.py
  gitgossip/core/providers/git_repo_provider.py
  pyproject.toml
  tests/core/test_git_repo_provider.py
  uv.lock
Due: black, isort, pylint, mypy, uv-sync-locked

v0.2: agent-CLI provider (claude/codex), commit command, custom prompts (#7)
  README.md
  gitgossip/cli.py
  gitgossip/commands/commit.py
  gitgossip/commands/init.py
  gitgossip/commands/prompts.py
  gitgossip/config/config_service.py
  gitgossip/core/factories/llm_analyzer_factory.py
  gitgossip/core/interfaces/chat_client.py
  gitgossip/core/interfaces/llm_analyzer.py
  gitgossip/core/interfaces/repo_provider.py
  gitgossip/core/llm/clients/__init__.py
  gitgossip/core/llm/clients/agent_cli_chat_client.py
  gitgossip/core/llm/clients/openai_chat_client.py
  gitgossip/core/llm/errors.py
  gitgossip/core/llm/llm_analyzer.py
  gitgossip/core/llm/mock_llm_analyzer.py
  gitgossip/core/llm/prompt_builder.py
  gitgossip/core/llm/prompts/commit.txt
  gitgossip/core/providers/git_repo_provider.py
  pyproject.toml
  tests/commands/test_commit.py
  tests/commands/test_init.py
  tests/commands/test_prompts.py
  tests/core/factories/test_llm_analyzer_factory.py
  tests/core/llm/clients/test_agent_cli_chat_client.py
  tests/core/llm/clients/test_openai_chat_client.py
  tests/core/llm/test_llm_analyzer_transport.py
  tests/core/test_git_repo_provider.py
  tests/core/test_llm_analyzer.py
  tests/core/test_prompt_builder.py
  uv.lock
Due: black, isort, pylint, mypy, uv-sync-locked

fix(ci): correct homebrew formula bump inputs and allow untrusted tap in CI
  .github/workflows/release.yaml
Due: none

fix(ci): correct homebrew formula bump inputs and allow untrusted tap in CI (#8)
  .github/workflows/release.yaml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  uv-sync-locked: any of: ^(pyproject\.toml|uv\.lock)$
